body
{
    margin: 0 auto;
    padding:0;
    font: #fff;
    font-family: 楷体;
    color: #FFFFFF;
    width:1280px;
    background-position: center top; 
    background-image: url('pictures/bg.png'); 
    background-repeat: repeat-y;
}
#main_content
{
    width:1152px;
    height:auto;
    margin:auto;
   }
#left
{
    width:780px;
    float:left;
    margin-top:35px;
    }
#tab_menu
{
    height: 32px;
    line-height: 32px;
    margin:25px 0;
    padding: 10px 110px;
}
#tab_menu a{
	text-decoration:none;
	color:#fff;
	width:280px;
	height:32px;
	display:block;
	text-align:center;
	font-size:17pt;
	float:left;
	font-family: 楷体;
}
#tab_menu a:hover{
	color:#000;
}
#tab_box{
	width:780px;
	height:1000px;
	overflow:hidden;	
}
#tab_box div{
	width:780px;
	height:1000px;
}
.pagenum
{
    width:780px;
    text-align:center;
    margin:50px 0px;    
    } 
#right
{
    width:320px;
    float:right;
    }
#mine
{
    margin-left:130px;
    margin-right:30px;
    }
#personal
{
    width: 100%;
    height: 160px;
    margin-top: 60px;
    background-image: url('pictures/headbg.png');
    background-repeat: no-repeat;
}
.issuenum
{
    width:160px;
    text-align:center;
    height:100px;
    line-height:100px;
    background-color: #92b2cb;
    font-family: 楷体;
    font-size: 17pt;
    color:Black;
    font-weight: bold;
}
.guess
{
    height:auto;
    margin-top: 30px;
    padding: 40px 5px;
    background-image: url('pictures/opacitybg.png');
    background-repeat: repeat-y;
}