body
{
    margin: 0 auto;
    padding:0;
    font: #fff;
    font-family: 楷体;
    color: #FFFFFF;
    width:1280px;
    background-position: center top; 
    background-image: url('pictures/bg.png'); 
    background-repeat: repeat-y;
}
#main_content
{
    width:1152px;
    height:auto;
    margin:auto;
   }
#left
{
    width:780px;
    float:left;
    }
       
#set
{
    height: 450px;
    position:relative;
    margin-top:60px;
    padding:45px 60px;
    background-image: url('pictures/opacitybg.png');
    background-repeat: repeat-y;
    font-size:14pt;
}

#info
{
    position:absolute;
    left:290px;
    right:50px;
    }
#set div
{
    margin:10px 0;
    }
#simple_info
{
    position:absolute;
    top:360px;
    width:650px;   
    }
#relatedsentence
{
    margin-top:40px;
    }
#relsentcontent
{ 
    height:auto;
    margin-top:20px;
    padding:20px 50px; 
    background-image: url('pictures/opacitybg.png'); 
    background-repeat: repeat-y; 
 }
.pagenum
{
    width:780px;
    text-align:center;
    margin:50px 0px;
    
    } 
#right
{
    width:320px;
    float:right;
    }
#issue
{
    width: 100%;
    height: 337px;
}
#mine
{
    margin-left:130px;
    margin-right:30px;
    }
#personal
{
    width: 100%;
    height: 160px;
    margin-top: 60px;
    background-image: url('pictures/headbg.png');
    background-repeat: no-repeat;
}
.issuenum
{
    width:160px;
    text-align:center;
    height:100px;
    line-height:100px;
    background-color: #92b2cb;
    font-family: 楷体;
    font-size: 17pt;
    color:Black;
    font-weight: bold;
}
.guess
{
    margin-top: 55px;
    padding: 40px 5px;
    background-image: url('pictures/opacitybg.png');
    background-repeat: repeat-y;
}
