<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
    <add name="Web_DBConnectionString2" connectionString="Data Source=HOLMES-PC\SQLEXPRESS;Initial Catalog=Web_DB;User ID=holmes;Password=08130125cjj" providerName="System.Data.SqlClient"/>
		<add name="Web_DBConnectionString" connectionString="Data Source=(local);Initial Catalog=Web_DB;Persist Security Info=True;User ID=set;Password=123456" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.0">
	</compilation>
		<httpRuntime maxRequestLength="10240"/>
	</system.web>
</configuration>
